<% if logged_in? %>
<h3>Hello, <%= current_user.username %><h3>
<% end %>
<h1>Welcome to HackerNews!</h1>
<% @post.each do |p|%>
    <a href="/posts/<%= p.id %>"><h3><%= p.title %></h3></a><br>
  <% end %>
