<% if @posts %>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    Created by:<%= post.user.username %> <br>
    <% if current_user.id == post.user.id %>
    <form action="/posts/<%= post.id %>/edit" method="get">
    <input type="submit" value="Edit">
    </form>
    <form  action="/posts/<%= post.id %>" method="post">
      <input type="hidden" name="_method" value="destroy">
      <input type="submit" value="Delete">
    </form>
    <% end %>
  <% end %>
<% end %>
