<!DOCTYPE html>
<html>
  <head>
    <title>HackerNewsClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <a href="/users/new">Register</a> |
      <a href="/posts/new">Make a Post</a> |
      <a href="/posts">View all Posts</a>
    </nav>
    <%= yield %>
  </body>
</html>
